$colorRojo: red;
$colorVioleta: violet;
$colorRosa: pink;
$colorblack: #0000;
$colorgray: darkgray;
$colorVerde: green;
$coloresgranier: linear-gradient(to bottom,pink, violet, purple, gray, white);
$coloresradial: radial-gradient(gray, pink, rgb(196, 80, 196));
$colorGris: rgba(38, 50, 56, 0.5); 